/* app css stylesheet */

.menu {
  /*list-style: none;*/
  border-bottom: 0.1em solid green;
  /*margin-bottom: 2em;*/
  padding: 0 0 0.5em;
  background-color: #42b983;
  font-family: Consolas, Menlo, Monaco, monospace;
}
.a:link{
  text-decoration: none;
}

/*.menu:before {*/
  /*content: "[";*/
/*}*/

/*.menu:after {*/
  /*content: "]";*/
/*}*/

.menu > li {
  display: inline;
}

/*.menu > li + li:before {*/
  /*content: "|";*/
  /*padding-right: 0.3em;*/
/*}*/
