<div ng-controller="View1Ctrl" ng-app="myApp.view1">
    <table ng-if="qnss.length != 0">
        <thead>
        <tr>
            <th class="title">标题</th>
            <th class="time">截止日期</th>
            <th class="status">状态</th>
            <th class="handle">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-for="qns in qnss">
            <td>{{ns.title}}</td>
            <td>deadline</td>
            <td class="statusStyle(qns)">{{statusText(qns)}}</td>
            <td class="handle-btns"><span ng-if="qns.status == 0" ng-click="publish(qns)">发布问卷</span><span ng-if="qns.status == 0" ng-click="editQns(qns)">编辑问卷</span><span
                    ng-if="qns.status == 1" ng-click="fillQns(qns)">填写问卷</span><span ng-if="qns.status != 0" ng-click="viewData(qns)">查看数据</span><span
                    ng-click="delQns(qns)">删除问卷</span></td>
        </tr>
        </tbody>
    </table>
    <my-alert :alert-message="alertMessage" ref="myAlert"></my-alert>
</div>
<script src="view1.js">
var app = angular.module('myApp.view1',[]);
app.controller('View1Ctrl',function ($scope) {
    $scope.toString();
})

</script>

<style lang="scss" scoped>
    td {
        height: 50px;
        background: #d4f6fc;
    }
    table {
        width: 60%;
        margin: 10% auto;
    / / padding: 30 px;
        background: #fff;
        border: 2px solid #42b983;
    / / box-shadow: 0 5 px 15 px #999;
        border-radius: 5px;
        text-align: center;
        line-height: 1.5;
    }
    th {
        height: 50px;
        color: #fff;
        background: #42b983;
        font-size: 18px;
        font-weight: 700;
    }
    .title {
         width: 30%;
     }
    .time {
         width: 20%;
     }
    .status {
         width: 10%;
     }
    .handle {
         width: 40%;
     }

    td {
        height: 50px;
        background: #d4f6fc;
    }


    .handle-btns {
    }


    .span {
        display: inline-block;
        margin: 0 10px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 0, 0, .6);
        border-radius: 5px;
        cursor: pointer;
    }


    .red {
        color: red;
    }


    .green {
        color: green;
    }


    .gray {
        color: gray;
    }


</style>